/* General*/

html,
body,
#map {
  height: 100%;
  width: 100vw;
}

#header {
  position: absolute;
  padding: 10px;
  width: 100%;
  z-index: 2000;
  background: rgb(0, 0, 0, 0);
}

#footer {
  position: absolute;
  bottom: 35px;
  width: 100%;
  z-index: 2000;
  background: rgb(0, 0, 0, 0);
}

#top {
  position: relative;
  z-index: 2000;
  width: 100%;
}

#bottom {
  position: absolute;
  z-index: 2000;
  bottom: 45px;
  width: 100%;
}

/* Tipografias*/

a {
  font-size: 12px;
  text-decoration: none;
}

p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
}

h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/*Sidebar*/

.rounded-rect {
  background: rgb(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 0 0 50px -25px black;
}

.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 15px;
}

.flex-center.left {
  left: 0px;
}

.flex-center.right {
  right: 0px;
}

.sidebar-content {
  position: absolute;
  width: 95%;
  height: fit-;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: gray;
}

.sidebar-toggle {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle.left {
  right: -1.5em;
}

.sidebar-toggle.right {
  left: -1.5em;
}

.sidebar-toggle:hover {
  color: #000000;
  cursor: pointer;
}

.sidebar {
  transition: transform 1s;
  z-index: 1;
  width: 300px;
  height: 100%;
}

/*
  The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
  The toggleSidebar() function removes this class from the element in order to expand it.
  */
.left.collapsed {
  transform: translateX(-295px);
}

.right.collapsed {
  transform: translateX(295px);
}
